@use "./variables" as var;
@use "./mixins" as mix;

.moreBtn {
  padding: 20px 30px;
  border-radius: 50px;
  background-color: var.$btn-color;
  font-size: 24px;
  // color: var.$color-secondary;
  color: var.$color-white;

  &:hover {
    background-color: #000;
    transition: all 0.5s ease;
  }
}

.siteBtn {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: 24px;
  color: var.$color-bk;
  overflow: hidden;
  z-index: 1;

  span {
    margin-right: 10px;
  }

  &::before {
    content: "";
    position: absolute;
    left: -5%;
    bottom: 0.1em;
    width: 110%;
    height: 100%;
    background: var.$btn-color;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
    z-index: -1;
  }

  &:hover {
    //color: var.$color-white;
  }

  &:hover::before {
    transform: scaleX(1);
  }
}

.linkBtn {
  padding: 10px 50px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  font-size: 24px;
  font-weight: bold;

  &:hover {
    background-color: var.$btn-color;
    transition: all 0.5s ease;
    border: none;
  }
}

.workBtnWrap {
  display: flex;
  justify-content: flex-end; // 오른쪽 정렬
  // margin-top: 20px;
}

// 어바웃 커리어 부분 버튼
.workBtn {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var.$btn-color;
  font-size: 24px;
  font-weight: bold;
  color: var.$color-white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.5s ease;
  text-align: center;
  white-space: nowrap;

  &:hover {
    background-color: #000;
  }
}
