@use "./variables" as var;
@use "./mixins" as mix;
@use "styles/animations" as ani;

// 카드 나열 목업
.MockupStagger {
  width: 100%;
  padding: 100px 60px;
  overflow: hidden;

  // STACK
  .stage {
    display: flex;
    justify-content: center;

    .stack {
      position: relative;
      width: 100%;
      height: 600px;

      .card {
        width: 500px;
        position: absolute;
        top: 50%;
        left: 60%;
        margin: 100px auto;
        opacity: 0;
        filter: blur(8px);
        transition: all 0.9s cubic-bezier(0.22, 1, 0.36, 1);

        img {
          width: 100%;
          border-radius: 14px;
          box-shadow: 0 30px 80px rgba(0, 0, 0, 0.25);
          display: block;
        }
      }

      .active {
        opacity: 1;
        filter: blur(0);
      }
    }
  }

  .textBlock {
    margin: 100px 100px 0 0;

    p {
      line-height: 1.8em;
      margin: 30px 0 0;
    }
  }

  // 767
  @include mix.respond(mobile) {
    padding: 100px 32px;

    // STACK
    .stage {
      height: 250px;

      .stack {
        height: auto;

        .card {
          width: 150px;
          //left: 0;
          margin: 0 auto;
        }
      }
    }

    .textBlock {
      margin: 50px 0 0 0;
    }
  }
}

///////////////////////  Showcase 공통  ///////////////////////
.ShowcaseInner {
  position: relative;
  overflow: hidden;

  .showcaseTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;

    width: 100%;
    text-align: center;

    padding: 0 32px;

    h2 {
      font-size: 96px;
    }
  }

  // grid slider 공통
  .gridSlider {
    display: flex;
    gap: 20px;
  }

  // 카드 공통
  .card {
    flex: 0 0 auto;
    overflow: hidden;
    transition:
      transform 0.4s ease,
      box-shadow 0.4s ease;

    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);

    &:hover {
      transform: translateY(20px);
      //box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      z-index: 5;
    }
  }

  // mockup 공통
  .mockup {
    width: 100%;
    display: block;
  }

  //
  @include mix.respond(mobile) {
    .showcaseTitle {
      //word-break: keep-all;

      h2 {
        font-size: 42px;
      }
    }
  }
}

/////////////////////////////   PC Showcase  ///////////////////////////
.pcShowcase {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .backgroundLayer {
    position: absolute;
    inset: 0;
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
  }

  .bgImage,
  .bgColor,
  .bgGradient {
    position: absolute;
    inset: 0;
  }

  .bgImage {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .ShowcaseInner {
    height: 150dvh;
    display: grid;
    grid-template-columns: repeat(4, auto);
  }

  .rotateBox {
    position: absolute;
    //top: 50%;
    top: 20%;
    left: 50%;
    width: 100%;
    height: 100%;
  }

  .gridSlider {
    margin-bottom: 20px;
  }

  .card {
    width: 700px;
    height: auto;
  }

  .rowDown {
    animation: slideDown 25s linear infinite;
  }

  .rowUp {
    animation: slideUp 30s linear infinite;
  }

  //
  @include mix.respond(mobile) {
    .ShowcaseInner {
      height: 100dvh;
    }

    .rotateBox {
      top: 65%;
    }
    .card {
      width: 300px;
      height: auto;
    }
  }
}

//////////////////////// Mobile Showcase ////////////////////////////////
.mobileShowcase {
  padding: 100px 60px;

  .ShowcaseInner {
    width: 80%;
    height: 150dvh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    -webkit-mask-image: linear-gradient(
      to bottom,
      transparent,
      black 8%,
      black 92%,
      transparent
    );

    mask-image: linear-gradient(
      to bottom,
      transparent,
      black 8%,
      black 92%,
      transparent
    );
  }

  .gridSlider {
    display: flex;
    flex-direction: column;
    gap: 80px;

    will-change: transform;
    transform: translateZ(0);
  }

  // Safari 안정 핵심
  .columnUp {
    animation: columnUp 18s linear infinite;
  }

  .columnDown {
    animation: columnDown 18s linear infinite;
  }

  .card {
    width: 350px;
    border-radius: 20px;
    overflow: hidden;

    backface-visibility: hidden;
    transform: translateZ(0);

    img {
      width: 100%;
      display: block;
    }
  }

  @include mix.respond(mobile) {
    padding: 100px 32px;

    .ShowcaseInner {
      width: 100%;
      height: 100dvh;
    }

    .gridSlider {
      gap: 30px;
    }

    .card {
      width: 100%;
      border-radius: 12px;
    }
  }
}

/////////////////////////// Tablet Showcase ///////////////////////////////////
.tabletShowcase {
  padding: 200px 0 100px;
  //height: 100%;

  .ShowcaseInner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    margin: 0 auto;
  }

  .gridSlider {
    gap: 50px;
  }

  .card {
    position: relative;
    width: 100%;
    border-radius: 40px;
    isolation: isolate;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    margin: 30px 0;

    &:hover {
      transform: translateY(0);
    }
  }

  .card::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 5px;
    border-radius: inherit;
    background: linear-gradient(120deg, #5b5d5e, #d0d0d1, #5b5d5e);

    -webkit-mask:
      linear-gradient(#d0d0d1 0 0) content-box,
      linear-gradient(#5b5d5e 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    pointer-events: none;
  }

  .mockup {
    height: auto;
    object-fit: initial;
  }

  .rowDown {
    animation: slideLeft 5s linear infinite;
  }

  .rowUp {
    animation: slideLeft 15s linear infinite;
  }

  //
  @include mix.respond(mobile) {
    padding: 100px 0 50px;

    .card {
      border-radius: 20px;
    }
    .card::before {
      padding: 2px;
    }
  }
}
