// 컬러
$color-primary: #040714;
$color-secondary: rgba(255, 255, 255, 0.9);
$color-bk: #000;
$color-white: #fff;
$background-color-white: #fff;
$background-color-bk: #000;
$background-color-primary: #040714;
$background-secondary: rgba(255, 255, 255, 0.8);

// 폰트
$font-base: "Pretendard", sans-serif;

// 메뉴 토글
$menu-width: 100%;
$menu-height: 100vh;
$menu-bg: #fff;
$menu-font: 22px;
$menu-color: #717171;
$menu-hover-color: #fb9098;
$hamburger-size: 40px;
$hamburger-height: 3px;
$hamburger-gap: 4px;
$hamburger-bg: #fff;
$hamburger-bg-active: #5b5b5b;
$transition: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

$btn-color: #01ef00;

// 브레이크포인트 (데스크탑 퍼스트)
$bp-mobile-s: 500px;
$bp-mobile: 767px;
$bp-tablet: 1024px;
$bp-desktop-md: 1200px;
$bp-desktop-lg: 1440px;
$bp-desktop-xl: 1600px;
$bp-desktop-xxl: 1800px;
$bp-desktop-4k: 1920px;
