@use "styles/variables" as var;
@use "styles/mixins" as mix;
@use "styles/btn" as btn;
@use "styles/animations" as ani;

.skillsSection {
  position: relative;
  width: 100%;
  height: 100vh;
  // background: #00ff00;
  overflow: hidden;

  // .title {
  //   p {
  //     color: #fff;
  //     font-size: 96px;
  //     line-height: 1.5em;
  //     font-weight: bold;
  //   }
  // }

  .title {
    color: #fff;
  }

  // .bgText {
  //   position: absolute;
  //   top: 10%;
  //   left: 5%;
  //   font-size: 80px;
  //   font-weight: bold;
  //   color: white;
  //   line-height: 1.1;
  //   z-index: 1;
  // }

  .pillContainer {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    // width: 100%;
    height: 60%;
    pointer-events: none; // 기본은 막고
  }

  .pill {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    min-width: 300px;
    padding: 18px 24px;
    border-radius: 999px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-weight: 700;
    pointer-events: auto; // 드래그 허용
    font-size: 24px;
  }

  .icon {
    width: 42px; // 40 → 32로 살짝 축소
    height: 42px;
    object-fit: contain; // ❗ 이미지 짤림 방지 핵심
    flex-shrink: 0; // ❗ 아이콘이 찌그러지지 않게
  }
}

// 모바일전용
.mobileSection {
  height: auto;
  // padding: 120px 20px;
}

.mobileGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 50px;

  .mobilePill {
    padding: 10px 20px;
    border-radius: 999px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    font-size: 22px;
    font-weight: 600;
  }

  .icon {
    width: 24px;
    height: 24px;
  }
}
