@use "styles/variables" as var;
@use "styles/mixins" as mix;
@use "styles/btn" as btn;
@use "styles/animations" as ani;

.header {
  position: relative;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  font-weight: bold;
  font-size: 24px;
}

.inner {
  display: flex;
  justify-content: space-between; // 로고 ↔ 햄버거
  align-items: center;
  height: 80px;
  // padding: 0 10px;

  // 767px
  @include mix.respond(mobile) {
    width: auto !important;
    padding: 0 32px;
  }
}

.logo {
  // font-weight: bold;
  letter-spacing: 0.1em;
  // font-size: 24px;
}

/* 햄버거 */
.hamburger {
  position: relative;
  width: 28px;
  height: 20px;
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1000;

  span {
    height: 3px;
    background: #000;
    transition: 0.3s;
  }

  &.active {
    span:nth-child(1) {
      transform: translateY(9px) rotate(45deg);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      transform: translateY(-9px) rotate(-45deg);
    }
  }
}

// 메뉴 (아래로 펼침)
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.9),
    #fff,
    #80f780,
    #01ef00
  );

  z-index: 999;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none; // ⭐ 닫혔을 때 클릭 차단
  transition: opacity 0.4s ease;

  a {
    padding: 40px 0;
    width: 100%;
    text-align: center;
    font-size: 52px;
    font-weight: 800;
  }
}

.menu.open {
  opacity: 1;
  pointer-events: auto;
}

// 1200px
@include mix.respond(desktop-md) {
}

// 1024px
@include mix.respond(tablet) {
}

// 767px
@include mix.respond(mobile) {
}
